[submodule "Lists/SecLists"]
	path = Lists/SecLists
	url = https://github.com/danielmiessler/SecLists.git
[submodule "Recon/aiodnsbrute"]
	path = Recon/aiodnsbrute
	url = https://github.com/blark/aiodnsbrute.git
[submodule "Recon/Sublist3r"]
	path = Recon/Sublist3r
	url = https://github.com/aboul3la/Sublist3r.git
[submodule "Recon/gobuster"]
	path = Recon/gobuster
	url = https://github.com/OJ/gobuster.git
[submodule "Exploitation/msf"]
	path = Exploitation/msf
	url = https://github.com/rapid7/metasploit-framework.git
[submodule "Recon/aquatone"]
	path = Recon/aquatone
	url = https://github.com/michenriksen/aquatone.git
[submodule "Networking/doxycannon"]
	path = Networking/doxycannon
	url = https://github.com/audibleblink/doxycannon.git
[submodule "Exploitation/exploitdb"]
	path = Exploitation/exploitdb
	url = https://github.com/offensive-security/exploitdb.git
[submodule "Payloads/SharpShooter"]
	path = Payloads/SharpShooter
	url = https://github.com/mdsecactivebreach/SharpShooter.git
[submodule "Payloads/demiguise"]
	path = Payloads/demiguise
	url = https://github.com/nccgroup/demiguise.git
[submodule "Exploitation/Empire"]
	path = Exploitation/Empire
	url = https://github.com/EmpireProject/Empire.git
[submodule "Exploitation/koadic"]
	path = Exploitation/koadic
	url = https://github.com/zerosum0x0/koadic.git
[submodule "Payloads/revshelloneliner"]
	path = Payloads/revshelloneliner
	url = https://github.com/r3dg33k/Oneliner-Reverse-Shell-Command-Generator-Script.git
[submodule "Recon/theHarvester"]
	path = Recon/theHarvester
	url = https://github.com/laramies/theHarvester.git
[submodule "Recon/SprayingToolkit"]
	path = Recon/SprayingToolkit
	url = https://github.com/byt3bl33d3r/SprayingToolkit.git
[submodule "Recon/masscan"]
	path = Recon/masscan
	url = https://github.com/robertdavidgraham/masscan.git
[submodule "Recon/Photon"]
	path = Recon/Photon
	url = https://github.com/s0md3v/Photon.git
[submodule "Recon/Zen"]
	path = Recon/Zen
	url = https://github.com/s0md3v/Zen.git
[submodule "Recon/wpscan"]
	path = Recon/wpscan
	url = https://github.com/wpscanteam/wpscan.git
[submodule "Exploitation/drupwn"]
	path = Exploitation/drupwn
	url = https://github.com/immunIT/drupwn.git
[submodule "Recon/joomscan"]
	path = Recon/joomscan
	url = https://github.com/rezasp/joomscan.git
[submodule "Recon/Hash-Buster"]
	path = Recon/Hash-Buster
	url = https://github.com/s0md3v/Hash-Buster.git
[submodule "Exploitation/patator"]
	path = Exploitation/patator
	url = https://github.com/lanjelot/patator.git
[submodule "AD/Responder"]
	path = AD/Responder
	url = https://github.com/lgandx/Responder.git
[submodule "AD/ruler"]
	path = AD/ruler
	url = https://github.com/sensepost/ruler.git
[submodule "AD/SprayingToolkit"]
	path = AD/SprayingToolkit
	url = https://github.com/byt3bl33d3r/SprayingToolkit.git
[submodule "AD/Impacket"]
	path = AD/Impacket
	url = https://github.com/SecureAuthCorp/impacket.git
